/* Features Section */
.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%; /* Make the section take up full height */
    background-color: #f4f4f4; /* Light background color */
  }
  
  /* Heading Styles */
  .features-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Container for images */
  .features-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap; /* Allow images to wrap if the screen is small */
  }
  
  /* Image Styles */
  .feature-image {
    width: auto;
    height: 100%; /* Maintain aspect ratio while filling the container's height */
    max-width: 90vw; /* Ensure images don't overflow the screen width */
    object-fit: cover; 
    border-radius: 25px;
  }
  